* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: #57bccf;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url(../img/typewriter.jpg);
  background-size: cover;
  background-position: center;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.functional-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0 15px;
  text-align: center;
  margin-left: 45vw;
}
.functional-area h1 {
  font-size: 6rem;
  font-weight: 700;
  color: #e4e3e8;
}
.functional-area p {
  font-size: 2rem;
  margin-top: 10px;
  color: #171718;
  font-style: italic;
}

.text-holder {
  display: block;
  width: 47.7vw;
  height: 45.2vh;
  padding: 6px;
  margin: 25px 0 10px;
  background-color: #e4e3e8;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.text-holder textarea {
  width: 46.7vw;
  height: 43.5vh;
  background-color: #fff;
  border-radius: inherit;
  resize: none;
  font-size: 14px;
  line-height: 1.15;
  outline: none;
  border: none;
  padding: 10px 30px 10px 10px;
}

.buttons .case,
.buttons .copy-del {
  display: flex;
  height: 6.2vh;
  margin-top: 20px;
  justify-content: center;
  gap: 10px;
}
.buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8c868a;
  color: #e4e3e8;
  border: 5px solid #e4e3e8;
  padding: 10px;
  border-radius: 10%;
  font-weight: bold;
  font-size: 1.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.buttons .low {
  background-color: #a7a5a5;
}
.buttons .cap {
  background-color: #7c7b7c;
}
.buttons .up {
  background-color: #868686;
}
.buttons .del {
  background-color: #999898;
}
.buttons .paste {
  background-color: #9b9598;
}
.buttons button:hover {
  background-color: #6e6b6d;
}
.buttons button:active {
  background-color: #504e4f;
}

.lowerArea {
  text-transform: lowercase;
}

.upperArea {
  text-transform: uppercase;
}

.capArea {
  text-transform: capitalize;
}

.normArea {
  text-transform: none;
}

@media screen and (max-width: 1243px) {
  .main-wrapper {
    background-image: none;
    background-color: #57bccf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .functional-area {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 60vh;
    width: 100vw;
  }
  .functional-area p {
    color: #504e4f;
  }
  .buttons {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 684px) {
  .functional-area {
    margin-top: 20px;
  }
  .functional-area .text-holder {
    display: none;
  }
  .functional-area .buttons {
    display: none;
  }
  .functional-area h1 {
    display: none;
  }
  .functional-area p {
    font-size: 2.5rem;
    color: #171718;
  }
}/*# sourceMappingURL=style.css.map */